
<ion-content  class="background" scroll="false" padding>

  <ion-grid style='height:100%' no-padding>

     <ion-row style='height:100%' align-items-center >
       <ion-col no-padding>
         <ion-row justify-content-center style='margin-bottom: 32px; font-family:Saira;'>
            <img height="32"  src = './assets/logo/bladebetter-logo@2x.png' style='margin-bottom:16px;'/>
            <font size = '4'>Practice. Level up. Repeat. </font>
          </ion-row>
          <!-- <ion-button style='width:100%; height:50px; font-size: bold' (click)='continueWithFacebook()'>Continue with Facebook</ion-button> -->
          <ion-row>
            <ion-button class='button item-text-wrap' expand="block"  style='height:50px; font-size: bold' (click)='continueWithGoogle()'><span>
              Continue with Google
            </span></ion-button>
            <!-- <ion-button class='button item-text-wrap' expand="block"  style='height:50px; font-size: bold' (click)='continue()'><span>
              Continue
            </span></ion-button> -->

          </ion-row>
          {{userProfile.uid}}
          <!-- <ion-button style='width:100%; height:50px; font-size: bold' (click)='continue()'>Continue(debug)</ion-button>
          <ion-button style='width:100%; height:50px; font-size: bold' (click)='signOut()'>Sign Out</ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
